.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding: 3.6rem 1.2rem;
}

.aboutProfilePic {
  border-radius: 5%;
  max-height: 196px;
  max-width: 196px;
}

.aboutText {
  max-width: 512px;
}

.aboutText a {
  font-weight: bold;
}

@media screen and (max-width: 966px) {
  .about {
    flex-direction: column;
  }
}
