.featuresSection {
  display: flex;
  align-items: center;
  padding-bottom: 6rem;
  width: 100%;
}

@media screen and (max-width: 996px) {
  .features {
    padding-bottom: 4rem;
  }
}

.cardContainer:hover {
  transform: scale(100.5%,100.5%);
  /* transform: translateY(-.5%); */
}