.featuresSection {
  display: flex;
  align-items: center;
  padding-bottom: 6rem;
  width: 100%;
}

@media screen and (max-width: 996px) {
  .features {
    padding-bottom: 4rem;
  }
}

.cardContainer:hover {
  transform: scale(100.5%,100.5%);
  /* transform: translateY(-.5%); */
}

.cardIcon{
  height: 52px;
  width: auto;
  padding: 2px;
  margin: 5px 10px 10px 2px;
}
