/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.minimaliStyle{
  margin: 0;
  padding: 10rem 25rem;

  font-size: larger;
}

@media screen and (max-width: 996px) {
  .minimaliStyle {
    margin: 0;
    padding: 10rem 2rem;
  }
}