/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.minimaliStyle{
  margin: auto;
  width: 40%;
  padding: 20% 0;
}

.minimaliStyle h1 {
  font-size: 4.8rem;
  line-height: 5.4rem;
  font-weight: 600;
}

.minimaliStyle p {
  font-size: 1.2rem;
  margin: 0 4px;
  max-width: 512px;
}

@media screen and (max-width: 996px) {
  .minimaliStyle {
    margin: auto;
    width: 80%;
    padding: 40% 0;
  }

  .minimaliStyle h1 {
    font-size: 2.2rem;
    line-height: 5.4rem;
    font-weight: 600;
  }
  
  .minimaliStyle p {
    font-size: 1rem;
    margin: 0 4px;
    max-width: 512px;
  }
}
