/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.minimaliStyle {
  margin: auto;
  width: 60vh;
  padding: 20vh 0;
}

.minimaliStyle h1 {
  font-size: 4.8rem;
  line-height: 5.4rem;
  font-weight: 600;
}

.minimaliStyle p {
  font-size: 1.2rem;
  margin: 0 4px;
  max-width: 512px;
}

@media screen and (max-width: 996px) {
  .minimaliStyle {
    margin: auto;
    width: 40vh;
    padding: 20vh 0;
  }

  .minimaliStyle h1 {
    font-size: 2.8rem;
    line-height: 5.4rem;
    font-weight: 600;
  }

  .minimaliStyle p {
    font-size: 1rem;
    margin: 0 4px;
    max-width: 512px;
  }
}

:global(.custom-type-animation-cursor)::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}
@keyframes cursor {
  50% {
    opacity: 0;
  }
}
