/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Header GitHub Logo */
.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  background: url(/static/img/github-svgrepo-com-dark.svg) no-repeat;
  background-size: 24px;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme='dark'] .header-github-link:hover {
  opacity: 0.6;
}

[data-theme='dark'] .header-github-link:before {
  background: url(/static/img/github-svgrepo-com-light.svg) no-repeat;
  background-size: 24px;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

/* Header Youtube Logo */
.header-youtube-link:hover {
  opacity: 0.6;
}

.header-youtube-link:before {
  background: url(/static/img/youtube-svgrepo-com-dark.svg) no-repeat;
  background-size: 24px;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme='dark'] .header-youtube-link:hover {
  opacity: 0.6;
}

[data-theme='dark'] .header-youtube-link:before {
  background: url(/static/img/youtube-svgrepo-com-light.svg) no-repeat;
  background-size: 24px;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

/* Header m19v Logo */
.header-m19v-logo {
  padding: 2px;
}

.header-m19v-logo:hover {
  opacity: 0.6;
}

[data-theme='dark'] .header-m19v-logo:hover {
  opacity: 0.6;
}

/* contentTableContainer */

.contentTableContainer table {
  display: table;
  text-align: left;
  width: 100%;
  margin: 0;
}

.contentTableContainer th:first-child {
  width: 5%;
}

.contentTableContainer td:first-child {
  text-align: right;
}

.contentTableContainer th:last-child {
  width: 25%;
}